<header>
  <nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container-fluid">
      <!-- logo del costado -->
      <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
           width="5%" height="5%" viewBox="0 0 1223.000000 1280.000000"
           preserveAspectRatio="xMidYMid meet">
        <metadata>
          Created by potrace 1.15, written by Peter Selinger 2001-2017
        </metadata>
        <g transform="translate(0.000000,1280.000000) scale(0.1,-0.1)"
           fill="#FFFFFF" stroke="none"> <!-- Cambiado a blanco -->
          <path d="M4905 12795 c-5 -2 -68 -22 -140 -45 -71 -23 -197 -63 -280 -90 -82
        -26 -251 -80 -375 -120 -124 -39 -236 -75 -250 -80 -14 -5 -126 -41 -250 -80
        -124 -39 -236 -75 -250 -80 -14 -5 -126 -41 -250 -80 -124 -39 -236 -75 -250
        -80 -14 -5 -83 -27 -155 -50 -71 -23 -197 -63 -280 -90 -82 -26 -251 -80 -375
        -120 -124 -39 -236 -75 -250 -80 -14 -5 -126 -41 -250 -80 -124 -39 -236 -75
        -250 -80 -14 -5 -126 -41 -250 -80 -124 -39 -250 -80 -280 -90 -30 -10 -156
        -51 -280 -90 -418 -133 -480 -154 -480 -160 0 -3 55 -21 123 -42 67 -20 195
        -59 284 -87 154 -48 256 -80 645 -202 90 -28 262 -81 383 -119 207 -64 316
        -98 702 -219 87 -27 219 -68 293 -91 74 -23 136 -43 137 -44 2 -2 -54 -50
        -125 -108 -685 -569 -1147 -1330 -1341 -2208 -95 -433 -109 -985 -37 -1445
        102 -645 374 -1276 781 -1815 374 -494 869 -912 1427 -1204 496 -260 1039
        -421 1588 -471 91 -9 201 -18 245 -21 l80 -6 -746 -373 c-489 -245 -757 -384
        -777 -405 -74 -73 -79 -207 -21 -495 55 -271 132 -485 286 -798 47 -95 96
        -199 109 -232 14 -33 40 -75 58 -95 19 -19 71 -87 116 -150 119 -165 192 -250
        332 -386 168 -161 277 -222 362 -200 20 5 664 372 3309 1886 l378 217 212 -70
        c117 -38 264 -86 327 -107 63 -22 116 -37 119 -35 2 3 -2 33 -9 67 -8 34 -14
        93 -14 131 -1 84 -7 80 149 127 68 20 331 90 341 90 2 0 4 4 4 8 0 5 -109 14
        -242 21 -134 7 -286 15 -339 19 l-96 7 1476 845 c812 464 1478 849 1480 854 2
        5 21 28 41 50 112 123 163 251 176 444 17 230 -59 569 -182 814 -98 196 -252
        392 -391 500 l-54 41 87 48 87 47 -43 27 c-143 90 -237 119 -370 113 -74 -4
        -114 -12 -185 -37 -49 -18 -104 -36 -120 -40 -17 -5 -551 -270 -1188 -590
        l-1157 -582 42 63 c314 472 523 1017 609 1593 53 359 51 822 -6 1182 -98 616
        -332 1193 -696 1710 l-79 112 1 178 c0 98 4 310 8 471 9 321 6 348 -46 426
        -14 22 -50 63 -80 91 l-53 51 88 28 c134 42 584 186 612 196 14 5 126 41 250
        80 124 40 279 89 345 110 66 22 132 42 148 46 37 9 34 20 -10 32 -21 5 -111
        33 -200 61 -204 64 -425 133 -708 221 -121 38 -293 91 -382 119 -90 28 -236
        74 -325 102 -90 28 -262 81 -383 119 -206 64 -299 93 -705 220 -406 127 -499
        156 -705 220 -121 38 -293 91 -382 119 -90 28 -236 74 -325 102 -90 28 -264
        82 -388 121 -124 38 -267 83 -319 99 -95 29 -98 30 -116 24z m3290 -2199 c133
        -130 171 -256 160 -527 -3 -74 -8 -152 -11 -175 l-5 -41 -152 152 c-160 159
        -324 301 -494 425 -56 41 -99 78 -95 81 4 4 102 37 217 73 116 37 219 71 230
        76 50 22 73 12 150 -64z"/>
        </g>
      </svg>
      <span class="ms-md-1 mt-1 fw-bolder me-md-5" style="color: white; font-size: 150%">AppColegioProfesional</span>
      <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
        <h1 class="welcome-text">Lista de Miembros</h1>
      </div>
      <a class="btn btn-outline-light ms-auto" href="/inicio" style="color: white;">Retornar</a>
    </div>
  </nav>
</header>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-10">
          <div *ngIf="ListaMiembros.length > 0; else noMiembros">
            <table class="table table-striped table-bordered">
              <thead class="thead-dark">
              <tr>
                <th>ID</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>DNI</th>
                <th>Email</th>
                <th>Teléfono</th>
                <th>Universidad</th>
                <th>Título</th>
                <th>Fecha de Graduación</th>
                <th>Dirección</th>
                <th>Estado</th>
                <th>Fecha de Registro</th>
                <th>Foto</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let miembro of ListaMiembros">
                <td>{{ miembro.id_miembro }}</td>
                <td>{{ miembro.nombres }}</td>
                <td>{{ miembro.apellidos }}</td>
                <td>{{ miembro.dni }}</td>
                <td>{{ miembro.email }}</td>
                <td>{{ miembro.telefono }}</td>
                <td>{{ miembro.universidad }}</td>
                <td>{{ miembro.titulo }}</td>
                <td>{{ miembro.fecha_graduacion | date }}</td>
                <td>{{ miembro.direccion }}</td>
                <td>{{ miembro.estado }}</td>
                <td>{{ miembro.fecha_registro | date }}</td>
                <td>
                  <img *ngIf="miembro.foto_url" [src]="miembro.foto_url" alt="Foto de {{ miembro.nombres }}" class="img-thumbnail" style="max-width: 50px;">
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <ng-template #noMiembros>
            <p>No hay miembros disponibles.</p>
          </ng-template>
        </div>
      </div>
</div>

<div class="containerTabla mt-5">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="card">
        <div class="card-header bg-primary text-white text-center">
          <h1 class="welcome-text">Gestionar Miembros</h1>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="id">Id:</label>
                  <input type="text" class="form-control" id="id" [(ngModel)]="NuevoMiembro.id_miembro" name="id">
                </div>
                <div class="form-group">
                  <label for="nombres">Nombres:</label>
                  <input type="text" class="form-control" id="nombres" [(ngModel)]="NuevoMiembro.nombres" name="nombres">
                </div>
                <div class="form-group">
                  <label for="apellidos">Apellidos:</label>
                  <input type="text" class="form-control" id="apellidos" [(ngModel)]="NuevoMiembro.apellidos" name="apellidos">
                </div>
                <div class="form-group">
                  <label for="dni">DNI:</label>
                  <input type="text" class="form-control" id="dni" [(ngModel)]="NuevoMiembro.dni" name="dni">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
                  <input type="date" class="form-control" id="fecha_nacimiento" [(ngModel)]="NuevoMiembro.fecha_nacimiento" name="fecha_nacimiento">
                </div>
                <div class="form-group">
                  <label for="direccion">Dirección:</label>
                  <input type="text" class="form-control" id="direccion" [(ngModel)]="NuevoMiembro.direccion" name="direccion">
                </div>
                <div class="form-group">
                  <label for="email">Email:</label>
                  <input type="email" class="form-control" id="email" [(ngModel)]="NuevoMiembro.email" name="email">
                </div>
                <div class="form-group">
                  <label for="telefono">Teléfono:</label>
                  <input type="text" class="form-control" id="telefono" [(ngModel)]="NuevoMiembro.telefono" name="telefono">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="universidad">Universidad:</label>
                  <input type="text" class="form-control" id="universidad" [(ngModel)]="NuevoMiembro.universidad" name="universidad">
                </div>
                <div class="form-group">
                  <label for="titulo">Título:</label>
                  <input type="text" class="form-control" id="titulo" [(ngModel)]="NuevoMiembro.titulo" name="titulo">
                </div>
                <div class="form-group">
                  <label for="fecha_graduacion">Fecha de Graduación:</label>
                  <input type="date" class="form-control" id="fecha_graduacion" [(ngModel)]="NuevoMiembro.fecha_graduacion" name="fecha_graduacion">
                </div>
                <div class="form-group">
                  <label for="foto_url">Foto URL:</label>
                  <input type="text" class="form-control" id="foto_url" [(ngModel)]="NuevoMiembro.foto_url" name="foto_url">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="estado">Estado:</label>
                  <input type="text" class="form-control" id="estado" [(ngModel)]="NuevoMiembro.estado" name="estado">
                </div>
                <div class="form-group">
                  <label for="fecha_registro">Fecha de Registro:</label>
                  <input type="date" class="form-control" id="fecha_registro" [(ngModel)]="NuevoMiembro.fecha_registro" name="fecha_registro">
                </div>
              </div>
            </div>
            <div class="text-center mt-3">
              <button type="submit" class="btn btn-primary" (click)="crearMiembro()">Crear Miembro</button>
              <button type="submit" class="btn btn-secondary" (click)="actualizarMiembro()">Actualizar Miembro</button>
              <button type="submit" class="btn btn-danger" (click)="eliminarMiembro()">Eliminar Miembro</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
